@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
    height: 100%;
}

header {
    background: #d3d3d3;
    width: 100%;
    height: 5em;
    margin: 0;
    position: fixed;
    z-index: 99;
    display: flex;
}

header > a > h1 {
    margin: 0.6em 20px 0 20px;
}


nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    list-style: none;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

a {
    color: #000;
    text-decoration: none;
}

.projects {
    display: grid;
    position: relative;
    top: 5em;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between project items */
    padding: 20px; /* Add padding to the section if desired */
}

.project {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.project img {
    width: 100%;
    height: auto;
}

.project h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.project p {
    margin-top: 10px;
}

.project a {
    display: block;
    margin-top: 10px;
    background-color: #1b1b32;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.project a:hover {
    background-color: #000;
}
