<header>
    <nav id="nav-bar">
        <ul class= "left">
            <li><a class="title" href="/">Amy Beard</a></li>
            <li><a class="nav-link" href="resume/amy-beard-resume.pdf" target="_blank">Resume</a></li>
            <li><a class="nav-link" href="projects/index.html">Projects</a></li>
        </ul>
        <ul class="right">
            <li><a href="mailto:amybeard66@icloud.com" target="_blank"><i class="fa fa-solid fa-envelope"></i></a></li>
            <li><a href="https://www.linkedin.com/in/amy-beard-308a69266/" target="_blank"><i class="fa fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/amyBeard" target="_blank"><i class="fa fa-brands fa-github"></i></a></li>
        </ul>
    </nav>
</header>