<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" title="Home">Amy Beard</a>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/projects" title="Projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/work_term_reports" title="Work Term Reports">Work Term Reports</a>
        </li>
      </ul>
    </div>

    <div class="d-flex" style="font-size: 4vh;">
      <a href="mailto:amybeard66@icloud.com" target="_blank" class="mx-2">
        <i class="fa-solid fa-envelope text-light"></i>
      </a>
      <a href="https://www.linkedin.com/in/amy-beard-308a69266/" target="_blank" class="mx-2">
        <i class="fa-brands fa-linkedin text-light"></i>
      </a>
      <a href="https://github.com/amyBeard" target="_blank" class="mx-2">
        <i class="fa-brands fa-github text-light"></i>
      </a>
    </div>
  </div>
</nav>