@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
    height:100%;
}

header {
    background: #d3d3d3;
    width: 100%;
    height: 5em;
    margin: 0;
    position: fixed;
    z-index: 99;
    display: flex;
    top: 0;
}

header > a > h1{
    margin: 0.6em 20px 0 20px;

}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    list-style: none;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

main{
    position: relative;
    z-index: -1;
    top: 5.5em;
}

.contact-info, .icons {
    background: #ffffffd0;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.icons{
    gap: 5em;
}

.contact-info{
    flex-direction: column;
}

.fa {
    font-size: 10em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #1b1b32;
    margin-bottom: 1rem;
}

.contact-info p{
    text-align: center;
}