
    * {
        margin: 1;
        padding: 0;
        box-sizing: border-box;
    }

    @media (prefers-reduced-motion: no-preference) {
        * {
        scroll-behavior: smooth;
        }
    }
    
    /* Global styles */
    body {
        font-family: "Helvetica", Arial, sans-serif;
        color: #1b1b32;
        margin: 0;
        height: 100vh;
        overflow-x: hidden;
    }

    .nav-img img {
        height: 12vh;
    }

    .bg-orange {
        background-color: #ad240e !important;
    }

    .bg-dark-green {
        background-color: #25492b !important;
    }

    .project-card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0;
      }

      .btn-exp {
        width: 100%;
      }

      main {
        background-image: url('../pictures/background.png');
        background-repeat: no-repeat;
        height: 100vh;
      }

      .content {
        overflow: auto;
      }